$breakpoint-md:                       768px;
$breakpoint-lg:                      1200px;

$color-primary-blue:                 #0095ff;
$color-primary-pink:                 #ff0076;
$text-color:                         #646464;
$text-color-dark:                    #343434;

$color-white:                        #FFFFFF;
$color-white-25:   rgba(255, 255, 255, 0.25);
$color-ui-grey-medium:               #646464;
$color-ui-grey-dark:                 #343434;
$color-ui-grey-light:                #efefef;

$main-gradient: linear-gradient(to bottom right, #0095ff, #ff0076);

$font-family:  "Open Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
