<section class="beej-hero ${properties.heroBackgroundColor}" style="background-image: url('${properties.heroBackgroundImage @ context='uri' }');">
    <div class="beej-hero__container ${properties.contentAlignment} margins">
        <div class="beej-hero__content">
            <h1 class="beej-hero__title">${properties.heroTitle}</h1>
            <h3 data-sly-test="${properties.heroText}" class="beej-hero__text">${properties.heroText}</h3>
            <div  class="beej-button-container " data-sly-test="${properties.heroCTAPath}">
                <a class="beej-button" href="${properties.heroCTAPath}"><span class="beej-button-text">${properties.heroCTAText}</span></a>
            </div>
        </div>
    </div>
</section>
