.beej-header__nav {
  display: none;
  background: $color-primary-magenta;
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  z-index: 2;

  &-items {
    height: auto;
  }

  &__item {
    color: white;
    margin: 0;
    padding: 0 20px;
    height: 50px;
    transition: all .25s ease-in-out;
    display: flex;
    align-items: center;

    &:hover {
      background: $color-white;
      color: $color-primary-magenta;
    }
  }

  &__menu-button {
      cursor: pointer;
      height: 40px;
      width: 40px;

    &:after {
      height: 50px;
      width: 50px;
      content: url('ui/apps/src/main/content/jcr_root/etc/icons/close-icon.svg');
    }

    &--open {
      &:after {
        content: url('ui/apps/src/main/content/jcr_root/etc/icons/close-icon.svg');
      }
    }

    &:hover {
      background: $color-ui-grey-light;
    }
  }

  @media (min-width: $breakpoint-md) {
    &__items {
      display: flex;
      align-items: center;
    }
  }
}

.beej-header {
  position: relative;
  box-shadow: 0 0 8px 2px rgba(128, 128, 128, .25);

  &__logo {
    height: 30px;
    flex-grow: 1;
  }

  &__logo-img {
    height: 30px;
  }


  @media (min-width: $breakpoint-md) {
    &__container {
      height: 90px;
    }

    &__logo {
      height: 50px;
      flex-grow: 0;
    }

    &__logo-img {
      height: 50px;
    }

    &__nav {
      background: transparent;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      position: relative;
      top: 0;
    }

    &__nav-items {
      display: flex;
      align-items: center;
    }

    &__nav-item {
      color: $text-color-dark;
      margin: 0 10px;

      &:hover {
        background: $color-ui-grey-light;
        color: $color-primary-magenta;
      }
    }


  }
}
