<section class="beej-features-slice">
    <div class="beej-features-slice__container ${properties.featureSliceMaxWidth}">
        <div class="beej-features-slice__feature ${properties.featureAlignment}">
            <img class="beej-feature-slice__icon" src="${properties.featureIcon1 @ context='uri'}">
            <h3 class="beej-feature-slice__text">${properties.featureText1}</h3>
            <div class="beej-button__container" data-sly-test="${properties.featureCTAPath1}">
                <a class="beej-button ${featureCTAColor1}" href="${properties.featureCTAPath1}">${properties.featureCTAText1}</a>
            </div>
        </div>
        <div class="beej-features-slice__feature ${properties.featureAlignment}">
            <img class="beej-feature-slice__icon" src="${properties.featureIcon2 @ context='uri'}">
            <h3 class="beej-feature-slice__text">${properties.featureText2}</h3>
            <div class="beej-button__container" data-sly-test="${properties.featureCTAPath2}">
                <a class="beej-button ${featureCTAColor2}" href="${properties.featureCTAPath2}">${properties.featureCTAText2}</a>
            </div>
        </div>
        <div class="beej-features-slice__feature ${properties.featureAlignment}">
            <img class="beej-feature-slice__icon" src="${properties.featureIcon3 @ context='uri'}">
            <h3 class="beej-feature-slice__text">${properties.featureText3}</h3>
            <div class="beej-button__container" data-sly-test="${properties.featureCTAPath3}">
                <a class="beej-button ${featureCTAColor3}" href="${properties.featureCTAPath3}">${properties.featureCTAText3}</a>
            </div>
        </div>
    </div>
</section>