<section class="beej-product-hero">
    <div class="beej-product-hero-container">
        <div class="beej-product-hero__image-viewer">
            <img class="beej-product-hero__image" src="">
            <div class="beej-product-hero__image-thumbnails">
                <img class="beej-product-hero__image-thumbnail" src="">
                <img class="beej-product-hero__image-thumbnail" src="">
                <img class="beej-product-hero__image-thumbnail" src="">
            </div>
        </div>
        <div class="beej-product-hero__info">
            <h2 class="beej-product-hero__title">${properties.productTitle}</h2>
            <p class="beej-product-hero__description">${properties.productDescription}</p>
            <button class="beej-product-hero-button">${properties.productButton}</button>
        </div>
    </div>
</section>